# Chromium/Electron/CEF app caches
.config/Slack/
.config/Code\ -\ OSS/
.config/Electron/
.config/Emby\ Theater/
.config/Postman/
.config/SideQuest/
.config/WebTorrent/
.config/balenaEtcher/
.config/linux-wallpaperengine-gui/
.config/hayase/
.config/obsidian/
.config/OrcaSlicer/

# App data, logs, caches
.config/bleachbit/
.config/bloodhound/
.config/byobu/
.config/cliamp/
.config/copyq/
.config/czkawka/
.config/dconf/
.config/easyeffects/
.config/easyeffectsrc
.config/evolution/
.config/filezilla/
.config/flameshot/
.config/flutter/
.config/fontconfig/
.config/ghc/
.config/github-copilot/
.config/go/
.config/gowall/
.config/gtk-2.0/
.config/gtk-3.0/
.config/gtk-4.0/
.config/gtkrc
.config/gtkrc-2.0
.config/htop/
.config/ibus/
.config/jgit/
.config/jxbrowser/
.config/kdeconnect/
.config/libaccounts-glib/
.config/libreoffice/
.config/libsurvive/
.config/lsp-plugins/
.config/nordvpn/
.config/nwg-look/
.config/obs-studio/
.config/ohmyposh/
.config/openvr/
.config/pnpm/
.config/pomodoro/
.config/pulse/
.config/qBittorrent/
.config/ranger/
.config/redshift/
.config/rncbc.org/
.config/session/
.config/shodan/
.config/spotify/
.config/spotify-flags.conf
.config/StardewValley/
.config/sunshine/
.config/systemd/
.config/Thunar/
.config/vlc/
.config/wayvr/
.config/wireshark/
.config/wivrn/
.config/wofi/
.config/xfce4/
.config/xsettingsd/
.config/zoom.conf
.config/zoomus.conf
.config/autostart/
.config/baloofilerc
.config/kconf_updaterc
.config/kritadisplayrc
.config/kritarc
.config/mimeapps.list
.config/pavucontrol.ini
.config/powermanagementprofilesrc
.config/trashrc
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xboxsteamlaunch.service
.config/xboxsteamlaunch.sh
.config/.gsd-keyboard.settings-ported
.config/.system_auth_trap.sh
.config/arch.png
.config/config-compact.jsonc
.config/config-pokemon.jsonc
.config/config-v2.jsonc
.config/config.jsonc
.config/nemo/

# Temp files
*.tmp
*.tmp.*
# Herdr plugin Python bytecode caches
.config/herdr/plugins/*/__pycache__/
.config/herdr/plugins/*/*.pyc